<!DOCTYPE html>
<html>

<head>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
</style>
</head>

<body>

<div id="header">
<h1>温丽香</h1>
</div>

<div id="nav">
<a href="http://139.196.82.189/jn">技能</a><br>
<a href="http://139.196.82.189/xq">兴趣</a><br>
<a href="http://139.196.82.189/xm">项目</a><br>
</div>

<div id="section">
<h2>项目</h2>
<p>Linux、git、mysql、python</p>
</div>

<div id="footer">
好好学习，天天向上
</div>

</body>
</html>

